<footer class="footer-section">
    <div class="container">
        <div class="footer-left-pic">
            <img src="~/Images/boneco-footer-right.png" alt="" />
        </div>
        <div class="footer-text">
            <!-- logo -->
            <a class="" href="index.html"><img class="img-fluid mb-6" src="~/Images/logo_lanche2-sfd.png" alt="logo" /></a>
            <ul class="list-unstyled" style="color:white;">
                <li class="mb-2">Porto Alegre, Rio Grande do Sul, BRASIL</li>
                <li class="mb-2">contato@tftec.com.br</li>
                <li class="mb-2"> +55 51 93857039</li>
                <li class="mb-2">CNPJ: 41.135.632/0001-40</li>
            </ul>
        </div>

        <div class="footer-right-pic">
            <img src="~/Images/boneco-left-footer.png" alt="" />
        </div>
        <div class="footer-social d-flex justify-content-center">
            <a href="https://www.youtube.com/channel/UCyFktIP0OmZDoIobmbEnyQQ?sub_confirmation=1"><i class="fa fa-youtube"></i></a>
            <a href="https://www.facebook.com/tftectreinamentosonline"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/tftec.online/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/tftec-treinamentos-online-625816191/"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="copyright">
            <a href="" style="color:white;">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados <i class="fa fa-cloud-upload" aria-hidden="true"></i> by <a href="https://tftec.com.br" target="_blank">TFTEC</a>
            </a>
        </div>
    </div>
</footer>