@model ProdutoListViewModel

<div>
    <h2>Categoria @Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var produto in Model.Produtos)
        {
            <partial name="_ProdutoResumo" for="@produto" />
        }
    </div>
</div>